<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="|${#request.getContextPath()}/|">
    <meta charset="UTF-8">
    <title>用户新增</title>
</head>
<body>
<div align="center">
    <h3>用户新增</h3>
    <hr>
    <form action="useradd" method="post">
        <table>
            <tr>
                <td>用户编号</td>
                <td><input name="uid"></td>
            </tr>
            <tr>
                <td>用户名称</td>
                <td><input name="uname"></td>
            </tr>
            <tr>
                <td>用户密码</td>
                <td><input name="password" type="password"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="新加">
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>